@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;
    height: 100%;

    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
body {
    height: 100%;
    #root {
        height: 100%;
    }
}
.react-datepicker {
    overflow: auto;
}
.react-datepicker-wrapper {
    height: max-content;
}

.react-datepicker__time-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.react-datepicker__time-list::-webkit-scrollbar {
    display: none;
}

form .react-datepicker__tab-loop {
    margin-inline: -2px;
}

.loading-wrap {
    position: fixed;
    z-index: 999;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.34);
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
}

.loading-wrap .loading-spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-wrap .loading-text {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    animation: clipText 3s ease infinite;
}

@keyframes clipText {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0% 0 0);
    }
}

.custom-swiper-wrapper .swiper-wrapper {
    padding-block: 12px;
}
.custom-swiper-wrapper .swiper-slide {
    box-shadow: rgba(149, 157, 165, 0.1) 0 1px 3px;
    transition: all 0.3s ease;
}
.custom-swiper-wrapper .swiper-slide:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 4px 12px;
    transition: all 0.3s ease;
}
.custom-swiper-wrapper .swiper-slide article:hover {
    background-color: #eaeaff;
}
.swiper-scrollbar.swiper-scrollbar-horizontal {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    top: calc(100% - 5px) !important;
    .swiper-scrollbar-drag {
        opacity: 0.3;
    }
}

.scroll-wheel-stop.ps.ps--active-y {
    overscroll-behavior-y: contain !important;
}

table tr td.hover-col {
    background-color: #f5f9ff;
    &:last-child {
        background-color: #dfeaff;
    }
}
table tr.hover-row td {
    background-color: #eef5ff;
    transition: all 0.2s ease;
    &.hover-col {
        background-color: #dceaff;
        font-weight: 500;
        transition: all 0.2s ease;
        &:last-child {
            background-color: #a3c7ff;
            transition: all 0.2s ease;
        }
    }
    &:last-child {
        background-color: #e1f0ff;
        transition: all 0.2s ease;
    }
}