@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;
    height: 100%;

    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
/* 화면 높이 표현을 위해 컨텐츠 wrapper 의 모든 부모에 height: 100% 적용하여 상속 */
body {
    height: 100%;
    #root {
        height: 100%;
    }
}
/* react-datepicker ui 개선 css */
/* time의 modal 호출 시 border 잘림 현상 개선 */
.react-datepicker {
    overflow: auto;
}
.react-datepicker-wrapper {
    height: max-content;
}
/* scrollbar width로 인해 레이아웃 깨짐 현상 개선 */
.react-datepicker__time-list {
    -ms-overflow-style: none; /* IE */
    scrollbar-width: none; /* Firefox */
}
.react-datepicker__time-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}